html {
    overflow: hidden;
}

html, body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
}

#section1 {
    background-color: #F6F7FF;
    text-align: center;
    display: flex;
    align-items: center;
}

#section1_detail{
    width: 100%;
}

#section2 {
    background-color: #FFFFFF;
}

#section3 {
    background-color: #FFFFFF;
}

/* 데스크탑 사이즈 */

@media (min-width: 993px) {

    /* 메인 이미지 마우스 오버 효과*/
    #hover {
        opacity: 0;
        visibility: none;
        transition: all 0.5s ease-in-out;
    }
      
    #hover::after {
        
    }
      
    #main:hover #hover {
        opacity: 1;
        visibility: visible;
    }

    #main:hover #main_img {
        transition: 0.7s ease-out;
        margin: 3px;
        width: 28vh;
        height: auto;
    }

    /* 메인 이미지 */
    #hover_img{
        width: 31vh;
        height: auto;
        position: absolute;
    }

    #hover_txt{
        font-weight: 700;
        font-size: 2vh;
        position: relative;
        padding-top: 2vh;
        padding-left: 31.5vh;
    }

    #main_img{
        transition: 1s ease-out;
        margin: 1vh;
        width: 27vh;
        height: auto;
    }

    /* 메인 텍스트 */  
    #main_txt{
        font-weight: 700;
        font-size: 4.5vh; 
    }

    #h1{
        text-emphasis-style: dot;
        color: #181D4B;
    }

    #h2{
        color: #181D4B;
        font-size: 6vh; 
    }
    
    /* 유도 화살표 */
    #down_img{
        width: 8.5vh;
        height: auto;
        margin-top: 20vh;
        animation: animateDown 1.1s ease-in-out infinite;
    }
    
    /* 유도 화살표 효과 */
    @keyframes animateDown {
        0% {
          transform: translateY(0);
          opacity: 1;
        }
        10% {
            transform: translateY(1.5px);
            opacity: 0.9;
        }
        20% {
            transform: translateY(3px);
            opacity: 0.8;
        }
        30% {
            transform: translateY(4.5px);
            opacity: 0.7;
        }
        40% {
            transform: translateY(6px);
            opacity: 0.6;
          }
        50% {
          transform: translateY(7.5px);
          opacity: 0.5;
        }
        60% {
            transform: translateY(9px);
            opacity: 0.4;
        }
        70% {
            transform: translateY(10.5px);
            opacity: 0.3;
        }
        80% {
            transform: translateY(12px);
            opacity: 0.2;
          }
        90% {
          transform: translateY(13.5px);
          opacity: 0.1;
        }
        100% {
          transform: translateY(15px);
          opacity: 0;
        }
    }
    
    /* 네브바 */
    .navbar {
        height: 7vh;
        text-align: center;
        display: flex;
        align-items: center;
        background:#F6F7FF;
    }

    .navbar-nav{
        padding-right: 2%;
    }

    .navbar a {
        text-decoration: none;
        color: #9F9F9F !important;
        font-weight: 600;
        font-size: 3.4vh;
    }
    
    .navbar a:hover {
        color: #181D4B !important;
    }

    .navbar a.active {
        color: #181D4B !important;
    }

    /* 스킬셋 디테일 */
    #skill {
        font-weight: 600;

    }

    #skill_mtxt {
        font-size: 3.4vh;
        position: relative;
        padding-left: 9%;
        margin-top: 6vh;
        margin-bottom: 0;
    }
    
    #ctn {
        width: 8%;
    }

    #skill_detail {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 1.5vh 0 1.5vh 0;
    }

    #skill_cont {
        width: 32%;
        text-align: center;
        display: flex;
        align-items: center;
        perspective: 60vw;
    }

    #before, #after{
        backface-visibility: hidden;
        transition: 1s;
    }

    #before{
        width: 26.5vw;
        height: 65vh;
        border: solid;
        border-color: #181D4B;
        border-radius:50px;
        padding: 3vh;
        margin: 24px;
        display: inline-block;
        position: absolute;
        transform: rotateY(0deg);
    }

    #skill_cont:hover #before{
        width: 26.5vw;
        height: 65vh;
        border: solid;
        border-color: #181D4B;
        border-radius:50px;
        padding: 3vh;
        margin: 24px;
        display: inline-block;
        transform: rotateY(180deg);
    }
    
    #after{
        width: 26.5vw;
        height: 65vh;
        border: solid;
        border-color: #F6F7FF;
        border-radius:50px;
        background-color: #F6F7FF;
        padding: 3vh;
        margin: 24px;
        display: inline-block;
        transform: rotateY(-180deg);
    }

    #skill_cont:hover #after{
        width: 26.5vw;
        height: 65vh;
        border: solid;
        border-color: #F6F7FF;
        border-radius:50px;
        background-color: #F6F7FF;
        padding: 3vh;
        margin: 24px;
        display: inline-block;
        transform: rotateY(0deg);
    }

    #after img{
        margin-bottom:0.5vh;
    }

    #sm {
        font-size: 2vh;
        margin-top: 4vw;
        margin-bottom: 1vw;
        word-wrap: break-word;
    }

    #st {
        font-size: 2.5vh;
        position: relative;
        top: 6.6vw;
    }

    #sd {
        font-size: 2vh;
        position: relative;
        top: 6.8vw;
        line-height: 200%;
        word-wrap: break-word;
    }

}