/* 모바일 사이즈 */

@media (max-width:478px){

    /* 메인 이미지 마우스 오버 효과*/
    #hover {
        opacity: 0;
        visibility: none;
        transition: all 0.5s ease-in-out;
    }
      
    #hover:after {
        
    }
      
    #main:hover #hover {
        opacity: 1;
        visibility: visible;
    }

    #main:hover #main_img {
        transition: 0.7s ease-out;
        margin: 5.5px;
        width: 143px;
        height: auto;
    }

    /* 메인 이미지 */
    #hover_img{
        margin-top: 15px;
        width: 180px;
        height: auto;
        position: absolute;
    }

    #hover_txt{
        font-weight: 700;
        font-size: 12.5px;
        position: relative;
        top: 26px;
        left: 92px;
    }

    #main_img{
        transition: 1s ease-out;
        margin: 10px;
        width: 136px;
        height: auto;
    }

    /* 메인 텍스트 */
    #main_txt{
        font-weight: 700;
        font-size: 25px; 
    }

    #h1{
        text-emphasis-style: dot;
        color: #181D4B;
    }

    #h2{
        color: #181D4B;
        font-size: 35px; 
    }
    
    /* 유도 화살표 */
    #down_img{
        width: 40px;
        height: auto;
        margin-top: 200px;
        animation: animateDown 1.1s ease-in-out infinite;
    }
    
    /* 유도 화살표 효과 */
    @keyframes animateDown {
        0% {
          transform: translateY(0);
          opacity: 1;
        }
        10% {
            transform: translateY(1.5px);
            opacity: 0.9;
        }
        20% {
            transform: translateY(3px);
            opacity: 0.8;
        }
        30% {
            transform: translateY(4.5px);
            opacity: 0.7;
        }
        40% {
            transform: translateY(6px);
            opacity: 0.6;
          }
        50% {
          transform: translateY(7.5px);
          opacity: 0.5;
        }
        60% {
            transform: translateY(9px);
            opacity: 0.4;
        }
        70% {
            transform: translateY(10.5px);
            opacity: 0.3;
        }
        80% {
            transform: translateY(12px);
            opacity: 0.2;
          }
        90% {
          transform: translateY(13.5px);
          opacity: 0.1;
        }
        100% {
          transform: translateY(15px);
          opacity: 0;
        }
    }

    /* 네브바 */
    .container-fluid{
        padding: 0 !important;
    }

    .navbar {
        padding: 0 !important;
        height: 55px;
        text-align: center;
        display: flex;
        align-items: center;
        background:#F6F7FF;
    }
    
    .navbar-toggler{
        border: none !important;
        margin: 8px 0 8px 10px;
    }
    
    .navbar a {
        text-decoration: none;
        color: #d9d9d9 !important;
        font-weight: 600;
        font-size: 21px;
        background-color: rgba(24, 29, 75, 0.6);
    }
    
    .navbar a:hover {
        color: #FFF !important;
    }
    
    .navbar a.active {
        color: #FFF !important;
    }
}

